{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your watchlist</h2>


        {% if user.is_authenticated %}
            {% if auctions %}

                <div class = "album py-5 bg-light">
                    <div class="container">
                         <div class = "row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                            {% for auct in auctions %}
                                <div class ="col">
                                    <div class="card shadow-sm">
                                        {% if auct.image_url %}
                                            <img src="{{auct.image_url}}" height="225" alt="{{auct.title}}">
                                        {% else %}
                                            <svg class="bd-placeholder-img card-img-top" width="30%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="40%" y="50%" fill="#eceeef" dy=".3em">No image yet</text></svg>
                                        {% endif %}
                                        <div class="card-body">
                                              <a href="{% url 'auction_id' auct.pk %}"> {{ auct.title }} </a>
                                              <div class="d-flex justify-content-between align-items-center">
                                                  <div class="card-text"> Owner: {{ auct.owner }} </div>
                                                    <div class="card-text"> Category: {{ auct.category }} </div>
                                                        <div class="card-text"> Auction ends: {{ date_end }}
                                                             <small class="text-muted"> Buy now: {{ auct.wanted }}</small>
                                                        </div>

                                              </div>
                                              {% if user.is_authenticated %}
                                                <form action = "{% url 'buy_now' auct.pk %}" method="POST">
                                            {% csrf_token %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-danger">By now {{ auct.wanted }}</button>
                                                </div>
                                            </div>
                                        </form>
                                         <form action = "{% url 'makebid' auct.pk %}" method="POST">
                                            {% csrf_token %}
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    {% if auct.high_bid %}
                                                        {% if auct.high_bid.user == user %}
                                                            <div>
                                                                You bid {{ auct.high_bid.bid}}<br/>
                                                            </div>
                                                            {% else %}
                                                            <div>
                                                                {{ auct.high_bid}}<br/>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}

                                                    <input name="bid" type="text" required>
                                                    <button type="submit" class="btn btn-danger">make bid</button>
                                                </div>
                                            </div>
                                        </form>

                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>

            {% else %}
                <div> No watching listings </div>
                    <a class="nav-link" href="{% url 'index' %}">Active Listings</a>

            {% endif %}
        {% else %}
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
        {% endif %}

{% endblock %}